/* Barra de navegacion */
nav.navbar{
    background-color: #353a40 !important;
}
header .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand {
    color: #fff;
    font-size: 1.121em !important;
}
header .container-fluid {
    padding-left: 84px;
    margin-bottom: 11px;
    display: flex;
}
header #derecha{
    padding-left: 175px;
    margin-right: 7.5%;
}
header #derecha .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand {
    font-size: larger;
}
#gris {
    color: #999d9e;
}
#verde {
    color: #2ba745;
}
#derecha li{
    float: left;
    overflow: hidden;
}
/* Seccion 1 */
.contenedor-imagen{
    background-image: url("imagenes_integrador_front/ba1.jpg");
    height: 555px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -145px;
    position: relative;
}
.contenedor-imagen::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0,0.6);
}
#seccion1 #columna2{
    text-align: right;
    color: #fff;
    position: relative;
    bottom: 365px;
}
#seccion1 h1 {
    font-weight: 600;
    font-size: 3em;
}
#seccion1 .btn-success{
    background-color: #29a744;
    border: none;
}
/* Sección 2 */
#seccion2 {
    position: relative;
    bottom: 225px;
    padding-bottom: -300px;
}
#seccion2 h6 {
    text-align: center;
    font-weight: 50;
}
#seccion2 h2 {
    text-align: center;
    font-weight: 500;
}
.tema{
    display: flex;
    font-size: smaller;
}
.javascript{
    background-color: #fec106;
    border-radius:4px ;
    margin-right: 5px;
    height: 20px;
    width: 70px;
    padding-left: 4px;
    font-weight: bold;
}
.react{
    background-color: #17a2b7;
    color: #fff;
    border-radius:4px ;
    height: 20px;
    width: 42.5px;
    padding-left: 4px;
    font-weight: bold;
}
.negocios{
    background-color: #6c757c;
    color: #fff;
    border-radius:4px ;
    height: 20px;
    width: 70px;
    margin-right: 5px;
    padding-left: 6px;
    font-weight: bold;
}
.startups{
    background-color: #dc3546;
    color: #fff;
    border-radius:4px ;
    height: 20px;
    width: 62.5px;
    padding-left: 6px;
    font-weight: bold;
}
#seccion2 h5{
    font-weight: 600;
}